<nav class="navbar1" [style.background-image]="'url(assets/images/jacob-kryca-highresscreenshot00096.jpg)'"
  [style.background-repeat]="'no-repeat'" [style.background-size]="'cover'" [style.height.px]="700">
  <div class="container">
    <ul class="navbar1 ">

      <li class="nav-item1 ">
        <a class="nav-link1 " href="#home">Home</a>
      </li>
      <li class="nav-item1">
        <a class="nav-link1" href="#proj">projects</a>
      </li>
      <li class="nav-item1">
        <a class="nav-link1" href="#about">about</a>
      </li>
      <li class="nav-item1">
        <a class="nav-link1" href="#contact">contact</a>
      </li>

      <li class="nav-item1">
        <button class="btn" (click)="toggleDarkMode()">
          <span class="btn-text-one">Light Mode!</span>
          <span class="btn-text-two">Dark Mode !</span>
        </button>
      </li>
    </ul>
    <img src="assets/images/296072668_1773840646288298_5431919343146436009_n.jpg" alt="image" class="img ">

    <h1 class="name">Ali belhrak <br><span class="prof">
        Front-end developer
      </span></h1>

  </div>

</nav>