<div data-aos="fade-up" data-aos-duration="3000">  
  <div  class="cnatain" id="home">
    <div >
    <section class="formintro">
      <article class="homeintro">
        <img src="assets/images/296072668_1773840646288298_5431919343146436009_n.jpg" alt="image" class="img ">
        <div class="me">
          <span class="hi">HI HERRE!</span>
          <p class="intro">my name is ali belhrak and im a front-end developer.  <br><br>
            with the passion of this fild i created a collection of projects that showcase my expertise in web development I believe that creating creative and professional websites can help too many people in their life or job.
            Thank you for visiting my portfolio. Feel free to reach out if you have any questions or would like to collaborate on a project.
          </p>
          <img src="assets/images/hi-dribbble-studiotale.gif" alt="" class="img33">

        </div>
      </article>
    </section>
  </div>
</div>
<hr class="hr">